.s-1 {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.h1 {
  position: absolute;
  bottom: 0rem;
  left: 0;
  width: 100%;
}
.color-verlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0c002b;
  opacity: 75%;
}

a.btn {
  padding: 13px 20px;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  position: relative;
  overflow: hidden;
  color: #1670f0;
}

a.btn::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  background: rgba(255, 255, 255, 0.05);
  width: 50%;
}

a.btn span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #0c002b, #1779ff);
  animation: animate_1 2s linear infinite;
}

@keyframes animate_1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

a.btn span:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(to bottom, #0c002b, #1779ff);
  animation: animate_2 2s linear infinite;
  animation-delay: 1s;
}

@keyframes animate_2 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

a.btn span:nth-child(3) {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to left, #0c002b, #1779ff);
  animation: animate_3 2s linear infinite;
  animation-delay: 2s;
}

@keyframes animate_3 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

a.btn span:nth-child(4) {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(to top, #0c002b, #1779ff);
  animation: animate_4 2s linear infinite;
  animation-delay: 3s;
}

@keyframes animate_4 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
img {
  max-width: 100%;
}
.o-2 {
  position: relative;
}
.o-2-o {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0c002b;
  opacity: 40%;
  z-index: -1;
}
.h-1-1 {
  position: absolute;
  left: 2rem;
  top: 2rem;
  background-color: rgb(12, 0, 43);
  color: rgb(23, 121, 255);
  z-index: 1000;
  padding: 8px 2rem;
  border-radius: 16px;
  border: 2px solid;
  font-size: 31px;
}
